/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* reset.css */



/* my code *//* my code *//* my code *//* my code */
/* my code *//* my code *//* my code *//* my code */
/* my code /* my code *//* my code /* my code */
/* my code *//* my code /* my code *//* my code */
/* my code *//* my code *//* my code *//* my code */
body{
	width: 100%;
	font-family: serif;

}

.a-margin{
/*
	width: 97%;
*/
	margin:0 auto;
	
}


/* 地域、ジャンル */
.f-size{
	font-size: 40px;
}

/* ヘッダー */
header{
	display: grid;
	grid-template-rows: 200px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	background-color: white;
}

.menu{
	padding-top:30px ;
	padding-left:50px ;
	font-size: 85px;
	grid-row: 1;
	grid-column: 1 / 3;
}

.logo{
	grid-row: 1;
	grid-column: 6 / 8;
}

.logo-img{
	width: 200px;
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}

.serch{
	padding-top:30px ;
	padding-left:30px ;
	width: 85px;
	grid-row: 1;
	grid-column: 11 / 13;
}

h1{
	margin-top: 60px;
	font-size: 150px;
	text-align: center;
	letter-spacing: 20px;
	line-height:140px;
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}

.sub-title{
	font-size: 50px;
	text-align: center;
	line-height:1.5;
	padding-bottom: 30px;
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}


/*見出し”PLACES””NEWS”*/
.heading{
	display: grid;
	grid-template-rows: 100px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	margin-top: 60px;
}

.heading h2{
	font-size: 70px;
	grid-row: 1;
	grid-column: 1 / 5;
	font-family: serif;
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}

.heading p{
	background-color: black;
	height: 5px;
	width: 100%;
	grid-row: 1;
	grid-column: 5 / 13;
	margin-top: 28px;
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}


/*PLACES 7県選択*/

.slide-wrap {
  display: flex;
  margin: 0 auto;
  width: 100%;
  
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.places{
	width: 100%;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
	padding-left: 30px;
	/*  30%つぎの項目を見せるための仕様  */
	 flex: 0 0 90%;
}

/*7県均等に表示*/
.kumamoto{
	grid-row: 1;
	grid-column: 1 / 5;
}

.fukuoka{
	grid-row: 1;
	grid-column: 5 / 9;
}

.nagasaki{
	grid-row: 1;
	grid-column: 9 / 13;
}

/*各県のパネルの大きさ*/
.img-places{
	width: 100%;
	height: auto;
	filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

/*NEWS 最新の観光情報*/
.news{
	display: grid;
	grid-gap: 30px;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.news-core{
	width: 100%;
	height:755px;
}

.img-news{
	grid-row: 1 / 6;
	grid-column: 1 / 13;
}

.area{
	grid-row: 6 / 7;
	grid-column: 1 / 4;
}

.genre{
	grid-row: 6 / 7;
	grid-column: 4 / 7;
}

/* 影を付ける */
.shadow{
	filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
}

/* BOX 格子をつける */
.box8 {
    margin: 15px 0 60px 0px;
    color: black;
    border-left: solid 5px black;
    border-bottom: solid 2px black;
}

.box8 p{
	padding-top:10px;
	padding-left:10px;

}h